In [ ]:
#load 6 csv files
import pandas as pd
from pathlib import Path

In [ ]:
crypto_path = Path("../resources/crypto.csv")
crypto_prices = pd.read_csv(crypto_path)
crypto_prices.head()

In [5]:
stocks_path = Path("../resources/stocks.csv")
stock_prices = pd.read_csv(stocks_path)
stock_prices.head()

,Unnamed: 0,AAPL,AAPL.1,AAPL.2,AAPL.3,AAPL.4,TSLA,TSLA.1,TSLA.2,TSLA.3,TSLA.4
0,NaN,open,high,low,close,volume,open,high,low,close,volume
1,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-04 00:00:00-05:00,133.52,133.6116,126.76,129.41,123353442,719.46,744.4899,717.1895,729.75,45293360
3,2021-01-05 00:00:00-05:00,128.89,131.74,128.43,130.95,85139362,723.66,740.84,719.2,735.055,28402584
4,2021-01-06 00:00:00-05:00,127.72,131.0499,126.382,126.58,142064548,758.49,774.0,749.1,756.46,41989335

In [8]:
tesla_path = Path("../resources/tesla-2021-01-2021-08.csv")
tesla_trends = pd.read_csv(tesla_path)
tesla_trends.head()

           Category: All categories
Day          Tesla: (United States)
2021-01-01                       59
2021-01-02                       58
2021-01-03                       59
2021-01-04                       41

In [9]:
apple_path = Path("../resources/apple-2021-01-2021-08.csv")
apple_trends = pd.read_csv(apple_path)
apple_trends.head()

           Category: All categories
Day          Apple: (United States)
2021-01-01                       91
2021-01-02                       93
2021-01-03                       87
2021-01-04                       91

In [12]:
btc_path = Path("../resources/btc-2021-01-2021-08.csv")
btc_trends = pd.read_csv(btc_path)
btc_trends.head()

            Category: All categories
Day         Bitcoin: (United States)
2021-01-01                        32
2021-01-02                        54
2021-01-03                        61
2021-01-04                        52

In [13]:
eth_path = Path("../resources/eth-2021-01-2021-08.csv")
eth_trends = pd.read_csv(eth_path)
eth_trends.head()

                    Category: All categories
Day         Ethereum Crypto: (United States)
2021-01-01                                10
2021-01-02                                 7
2021-01-03                                 9
2021-01-04                                25