In [4]:
#load 6 csv files
import pandas as pd
from pathlib import Path

In [5]:
crypto_path = Path("../resources/crypto.csv")
crypto_prices = pd.read_csv(crypto_path)
crypto_prices.head()

,timestamp,exchange,open,high,low,close,volume,trade_count,vwap,symbol
0,2021-01-01 06:00:00+00:00,CBSE,29413.29,29683.50,29039.00,29683.03,4431.837894,44893,29419.838845,BTCUSD
1,2021-01-02 06:00:00+00:00,CBSE,32222.88,34205.00,32008.62,33779.48,7955.017558,87151,33089.671665,BTCUSD
2,2021-01-03 06:00:00+00:00,CBSE,33082.83,33666.99,32453.37,32903.87,7401.195215,77379,33140.775678,BTCUSD
3,2021-01-04 06:00:00+00:00,CBSE,32020.22,32890.00,30020.00,30460.19,11908.475812,105838,31772.431005,BTCUSD
4,2021-01-05 06:00:00+00:00,CBSE,34043.91,35848.99,33352.54,35130.05,11648.279116,99854,34520.539825,BTCUSD

In [14]:
stocks_path = Path("../resources/stocks.csv")
stock_prices = pd.read_csv(stocks_path, header=[0,1,2])
stock_prices.columns = pd.MultiIndex.from_tuples(stock_prices.columns)

for i, columns in enumerate(stock_prices.columns.levels):
    columns_new = columns.tolist()
    for j, row in enumerate(columns_new):
        if "Unnamed: " in row:
            columns_new[j] = ""
    stock_prices = stock_prices.rename(columns=dict(zip(columns.tolist(), columns_new)),
                        level=i)

stock_prices.head()

                                AAPL                                        \
                                open      high      low   close     volume
                        time
0  2021-01-04 00:00:00-05:00  133.52  133.6116  126.760  129.41  123353442
1  2021-01-05 00:00:00-05:00  128.89  131.7400  128.430  130.95   85139362
2  2021-01-06 00:00:00-05:00  127.72  131.0499  126.382  126.58  142064548
3  2021-01-07 00:00:00-05:00  128.36  131.6300  127.860  130.85   95314687
4  2021-01-08 00:00:00-05:00  132.43  132.6300  130.230  131.99   93211863

     TSLA
     open      high       low    close    volume

0  719.46  744.4899  717.1895  729.750  45293360
1  723.66  740.8400  719.2000  735.055  28402584
2  758.49  774.0000  749.1000  756.460  41989335
3  777.63  816.9900  775.2000  816.240  48080256
4  856.00  884.4900  838.3900  880.030  71814487

In [8]:
tesla_path = Path("../resources/tesla-2021-01-2021-08.csv")
tesla_trends = pd.read_csv(tesla_path)
tesla_trends.head()

           Category: All categories
Day          Tesla: (United States)
2021-01-01                       59
2021-01-02                       58
2021-01-03                       59
2021-01-04                       41

In [9]:
apple_path = Path("../resources/apple-2021-01-2021-08.csv")
apple_trends = pd.read_csv(apple_path)
apple_trends.head()

           Category: All categories
Day          Apple: (United States)
2021-01-01                       91
2021-01-02                       93
2021-01-03                       87
2021-01-04                       91

In [12]:
btc_path = Path("../resources/btc-2021-01-2021-08.csv")
btc_trends = pd.read_csv(btc_path)
btc_trends.head()

            Category: All categories
Day         Bitcoin: (United States)
2021-01-01                        32
2021-01-02                        54
2021-01-03                        61
2021-01-04                        52

In [13]:
eth_path = Path("../resources/eth-2021-01-2021-08.csv")
eth_trends = pd.read_csv(eth_path)
eth_trends.head()

                    Category: All categories
Day         Ethereum Crypto: (United States)
2021-01-01                                10
2021-01-02                                 7
2021-01-03                                 9
2021-01-04                                25